<footer>
        <div class="about">
            <h3>About Us</h3>
            <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dolor, quis, maxime, aperiam voluptate aliquid enim ea inventore id quo reiciendis voluptas fuga accusamus autem deserunt iure ab delectus distinctio corporis modi ad officia earum obcaecati consequuntur pariatur maiores totam praesentium quasi tempore cupiditate cumque ipsum necessitatibus nisi vel similique!</em></p>
        </div>

        <div class="news">
            <h3>Newsletters</h3>
            <p>Enter Your Email Address:</p>

            <form class=email-form>
                <input type="text" name="Enter" placeholder="enter email address" /><br/><br/>
                <button class="button">Subscribe</button>
                <!--<input type="submit" value="Subscribe" />-->
            </form>
        </div>

        <div class="social">
            <h3>Follow Us:</h3>

            <div class="footer-icons"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            </div>
        </div>

    </footer>